PORT=3000
JWT_SECRET=supersecretjwtkey
MONGO_URI=mongodb://mongodb:27017/campus-platform
RABBITMQ_URL=amqp://rabbitmq:5672
SERVICE_NAME=api-gateway
AUTH_SERVICE_URL=http://auth-service:3001
BOOKING_SERVICE_URL=http://booking-service:3002
EVENTS_SERVICE_URL=http://events-service:3003
MARKETPLACE_SERVICE_URL=http://marketplace-service:3004
LOST_FOUND_SERVICE_URL=http://lost-found-service:3005
CARPOOLING_SERVICE_URL=http://carpooling-service:3006
NOTIFICATION_SERVICE_URL=http://notification-service:3007
